@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

.container {
  background-color: #0a0a15;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}

.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
  margin: 3rem;
}
