@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.container {
  display: flex;
  flex-direction: column;
  background-color: #0a0a15;
  color: white;
}

.title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.15em;
  color: #e1e4ff;
  padding: 3rem;
}

.live_sale {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: white;
  background: #050505;
  box-shadow: 0px 4px 7px rgba(255, 255, 255, 0.25);
  border-radius: 17px;
  padding: 1rem;
  margin: 0 3em;
}

.live_sale_image {
  border-radius: 17px;
  width: 396px;
  height: auto;
  left: 24px;
  top: 20px;
}

.sale_details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: auto;
}

.sale_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project_details {
  display: flex;
  justify-content: space-evenly;
  min-width: 50%;
}

.esp_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

.sale_status {
  background-color: #22dfab;
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #000000;
  padding: 6px 20px;
}

.network_details {
  display: flex;
  align-items: center;
}

.network_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding-right: 0.5rem;
}

.coin_details {
  display: flex;
  justify-content: space-evenly;
}

.coin_numbers {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.dividers {
  border: 1px solid #ffffff;
}

.sale_timing {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sale_timing p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.05em;
}

.sale_timing span {
  color: #0075ff;
}

.projects_container {
  display: flex;
  color: white;
  padding-top: 3rem;
  justify-content: space-evenly;
}

.funded_projects_containers {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.funded_projects_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.funded_projects_title {
  display: flex;
  flex-direction: column;
}

.title_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
}

.description_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
}

.searchbar_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  color: #ffffff;
  opacity: 0.7;
  margin: 1rem 0;
  border-bottom: solid 1px #ffffff;
}
